body{
    background-color: #86a788;
    text-align: center;
    font-family: "Nunito", serif;
}

form{
    background-color: #ffe6a9;
    max-width: 30em;
    margin: auto;
    height: 17em;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(50, 49, 49);
}

h1{
    text-transform: uppercase;
    font-family: "Raleway", serif;
    margin-top: 12rem;
    padding-top: 1.5rem;
    color: #cc792c;
}

#textBox{
    max-width: 15rem;
    margin-bottom: 10px;
    border-radius: 9px;
    border: solid 1.5px;
    font-size: 1em;
    height: 1.5em;
}

button{
    margin-top: 10px;
    background-color: #577e42;
    color: white;
    border-radius: 5px ;
    font-size: 17px;
    width: 7em;
    height: 1.6em;
    transition: background-color 0.5s ease;
}

button:hover{
    background-color: #3b512f;
    cursor: pointer;
}

#result{
    font-weight: bold;
}
